body {
	/*background:-moz-radial-gradient(center top, circle , rgba(255, 255, 255, 1), rgba(255, 255, 255, .5)) repeat fixed 0 0%, -moz-linear-gradient(bottom center , #ADD8E6 100%, #87CEEB 20%, #00BFFF 10%) repeat fixed 0 0 transparent;*/
	font-family: Arial, serif;
	font-size: 8pt;
		
}

#container {
	width: 99%;
	margin: 0 auto
}