<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/interna.xhtml">

	<ui:define name="titulo">
        Exemplo Cadastro
    </ui:define>

	<ui:define name="corpo">
		
		<h:inputHidden id="teste" value="DELEON SOUSA" />
	
		<h:form id="cadastro" >
				<input type="hidden" name="hidden1" value="this is hidden2" />
				<p:messages id="msgs" autoUpdate="true" closable="true" showDetail="true"/>
				<p:tabView id="tab">
					<p:ajax event="tabChange" listener="#{cadastro.onTabChange}" update=":cadastro:msgs"/>
					<p:tab title="Cadastro" id="aba1">
						<h:outputText value="#{flash.bean}"/>
					
						<h:panelGrid columns="3" id="panel">
							<h:outputText value="Nome:" styleClass="Negrito" />
							<f:validateBean disabled="#{param['btnLimpar'] != null }">
								<p:inputText 
									id="nome"
									value="#{cadastro.name}" 
									required="#{param['btnSalvar'] != null }"
									requiredMessage="O nome é obrigatório"
									title="Digite o seu nome" 
									maxlength="30"
									label="Nome"
									validatorMessage="O nome do usuário deve ter o mínimo de 2 e o máximo de 50 caractéres">
									<f:validateLength minimum="2" maximum="50" disabled="#{param['btnLimpar'] != null}" for="nome"/>
									</p:inputText>
							</f:validateBean>
							<p:message for="nome" display="icon"/>
							
							<h:outputText value="Idade:" styleClass="Negrito" />
							<f:validateBean disabled="#{param['btnLimpar'] != null }">
								<p:inputText id="idade" 
									value="#{cadastro.idade}"
									title="Digite a idade" 
									maxlength="100" 
									required="#{param['btnSalvar'] != null}"
									requiredMessage="A senha é obrigatória"
									label="Senha"
									validatorMessage="A idade deve ser entre 0 e 100">
									<f:validateLongRange minimum="0" maximum="40" disabled="#{param['btnLimpar'] != null }" />
								</p:inputText>
							</f:validateBean>
							 <p:message for="idade" display="icon"/>
							
							<h:outputText value="E-Mail:" styleClass="Negrito" />
							<f:validateBean disabled="#{param['btnLimpar'] != null }">
								<p:inputText 
									id="email"
									value="#{cadastro.email}" 
									required="#{param['btnSalvar'] != null }"
									requiredMessage="O e-mail é obrigatório"
									title="Digite o seu e-mail" 
									maxlength="100"
									label="E-Mail"
									validatorMessage="O e-mail do usuário deve ter o mínimo de 2 e o máximo de 100 caractéres">
									<f:validateLength minimum="2" maximum="100" disabled="#{param['btnLimpar'] != null }" for="email"/>
									<f:validateRegex pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*
		     							 @[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$" disabled="#{param['btnLimpar'] != null }"/>
								</p:inputText>
							</f:validateBean>	
							<p:message for="email" display="icon"/>
										
							<h:outputText value="Data de nascimento:" styleClass="Negrito" />							
							<p:calendar 
								value="#{cadastro.dtNascimento}" 
								id="popupButtonCal" 
								showOn="button" 
								required="#{param['btnSalvar'] != null }"
								requiredMessage="A data de nascimento é obrigatória"/>
							<p:message for="popupButtonCal" display="icon"/>
						</h:panelGrid>
						
						<h:panelGrid columns="3">
							<p:commandButton 
								id="btnSalvar"
								value="Salvar"
								action="#{cadastro.salvar()}"
								
								ajax="true"/>
							<p:commandButton 
								id="btnLimpar"
								value="Limpar"
								actionListener="#"
								 
								ajax="true"/>
			
							<p:ajaxStatus style="float: center">
								<f:facet name="start">
									<h:graphicImage value="../resources/images/ajax-loader.gif" />
								</f:facet>
			
								<f:facet name="complete">
									<h:outputText value="" />
								</f:facet>
							</p:ajaxStatus>
						</h:panelGrid>
					</p:tab>
					<p:tab id="tabT" title="Teste">
						 <p:selectOneMenu 
						 	id="txt3" 
						 	value="#{cadastro.valorCombo}" 
						 	label="Text 3"
						 	requiredMessage="Erro no ComboBox">
			                <f:selectItem itemLabel="Select One" itemValue="" noSelectionOption="true" />
			                <f:selectItem itemLabel="Option 1" itemValue="1" />
			                <f:selectItem itemLabel="Option 2" itemValue="2" />
			                <f:selectItem itemLabel="Option 3" itemValue="3" />
			            </p:selectOneMenu>
					</p:tab>
					<p:tab id="tabManye" title="ManyCheck">
						<p:selectManyMenu 
							id="basic" 
							value="#{cadastro.selectedOptions}" 
							showCheckbox="true" 
							valueChangeListener="#{cadastro.changed}" 
							onchange="submit()"
							onclick="checkBoxTodas_onClick()">
							
							<f:selectItem itemLabel="Todos" itemValue="4" />
				            <f:selectItem itemLabel="Option 1" itemValue="1" />
				            <f:selectItem itemLabel="Option 2" itemValue="2" />
				            <f:selectItem itemLabel="Option 3" itemValue="3" />
				        </p:selectManyMenu>
					</p:tab>
				</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>
</html>
