<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/interna.xhtml">

	<ui:define name="titulo">
        Exemplo Table
    </ui:define>

	<ui:define name="corpo">
		<h:form id="table" prependId="false">
			<p:panel id="painelTable" header="Table Car">
				<p:messages autoUpdate="true" closable="true" showDetail="true" />

				<h:form>
					<p:dataTable var="car" value="#{table.carsSmall}">
						<p:column headerText="Model">
							<h:outputText value="#{car.model}" />
						</p:column>
						
						<p:column headerText="p:commandButton">
							<p:commandButton action="#{table.navegar()}" value="Navegar" title="Navegar por um commandButton (Não Recomendado)"/>
						</p:column>
						
						<p:column headerText="h:link">
							<h:link outcome="cadastro.xhtml">
								<h:graphicImage library="images" name="ajax-loader.gif" title="Navegar por um h:link (Recomendado)"/>
							</h:link>
						</p:column>

						<p:column headerText="Year">
							<h:commandLink action="#{table.navegar()}" value="Teste" immediate="true" target="_blank">
								<h:outputText value="#{car.year}" />
							<f:param name="testeParam" value="TESTE" />	
							</h:commandLink>
						</p:column>

						<p:column headerText="Manufacturer">
							<h:outputText value="#{car.manufacturer}" />
						</p:column>

						<p:column headerText="Color">
							<h:outputText value="#{car.color}" />
						</p:column>
						
						<p:column headerText="Carousel">
							<p:carousel value="#{car.stringList}" var="str" numVisible="3">
								<h:outputText value="#{str.toString()}" />
							</p:carousel>
						</p:column>
					</p:dataTable>
					<br />
					<p:commandButton action="#{table.navegar()}" value="Navegar"/>
				</h:form>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>