<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/interna.xhtml">
	<ui:define name="titulo">
        Recomende-Aqui - Home
    </ui:define>

	<ui:define name="corpo">
		TESTE CORPO
	</ui:define>
	
	<ui:define name="rodape">
		TESTE RODAPÉ
	</ui:define>
</ui:composition>
</html>
