<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/interna.xhtml">

	<ui:define name="titulo">
        Exemplo Cadastro
    </ui:define>

	<ui:define name="corpo">
	<p:panel header="#{msg['titulo']}">
		<p:panelGrid columns="2">
			<p:outputLabel value="#{msg['valor.moeda']}: "/>
			<p:outputLabel value="#{internacio.valorMoeda}">
				<f:convertNumber type="currency"/>
			</p:outputLabel>
				
			<p:outputLabel value="#{msg['valor.moeda']}: "/>
			<p:outputLabel value="#{internacio.valorMoeda2}">
				<f:convertNumber type="currency"/>
			</p:outputLabel>	
			
			<p:outputLabel value="#{msg['valor.moeda']}: "/>
			<p:outputLabel value="#{internacio.valorMoeda3}">
				<f:convertNumber type="currency"/>
			</p:outputLabel>	
			
			<p:outputLabel value="#{msg.data}: "/>
			<p:outputLabel value="#{internacio.data}">
				<f:convertDateTime />
			</p:outputLabel>	
		</p:panelGrid>
	</p:panel>
	</ui:define>
</ui:composition>
</html>
