<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/interna.xhtml">
	
		<ui:define name="titulo">
	        Exemplo Cadastro
	    </ui:define>
	
		<ui:define name="corpo">
			<h:form id="form">
				<p:panel>
					<p:commandButton actionListener="#{treeTable.criarTreeTable()}" update=":form" value="Criar Tree Table"/>
					
					<br />
					
				    <p:treeTable value="#{treeTable.root}" var="document" emptyMessage="teste" >
				        <f:facet name="header">
				            Document Viewer
				        </f:facet>
				        <p:column headerText="Name">
				            <h:outputText value="#{document.name}" />
				        </p:column>
				        <p:column headerText="Size">
				            <h:outputText value="#{document.size}" />
				        </p:column>
				        <p:column headerText="Type">
				            <h:outputText value="#{document.type}" />
				        </p:column>
				    </p:treeTable>
				</p:panel>	    
	    	</h:form>
		</ui:define>
	</ui:composition>
</html>
