<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo"></ui:insert></title>

	<script type="text/javascript">
		var nav = navigator.appName;
		if (nav == "Microsoft Internet Explorer") {
			document.write("<h:outputStylesheet library='css' name='css_padrao_IE.css' />");
		} else {
			document.write("<h:outputStylesheet library='css' name='layout.css' />");
		}

	</script>
</h:head>
<h:body>
	<div id="container">
		<div id="menu">
			<h:form>
			<p:menubar autoDisplay="false">
				<p:submenu label="Exemplos" icon="ui-icon-document">
					<p:menuitem value="Cadastro" url="../pages/cadastro.jsf" />
					<p:menuitem value="DataTable" url="../pages/dataTable.jsf" />
					<p:menuitem value="TreeTable" url="../pages/treeTable.jsf" />
					<p:menuitem value="TreeTableComObjetos" url="../pages/treeTableComObjetos.jsf" />
					<p:menuitem value="Internacionalização" url="../pages/Intenacionalizacao.jsf" />
				</p:submenu>
				
			</p:menubar>
		</h:form>
		</div>
		<br />
		<div id="corpo">
			<ui:insert name="corpo" />
		</div>
		  <br />
         <div id="rodape" class="ui-widget ui-widget-header ui-corner-all">
                 <ui:insert name="rodape">
                         <ui:include src="/templates/rodape.xhtml" />
                 </ui:insert>
         </div>
	</div>
</h:body>
</html>